body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 40px 0;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #ddd;
    z-index: 0;
    transform: translateX(-50%);
}

.timeline-step {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    width: 100%;
    padding: 20px 0;
}

.step-number {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.step-content {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.main img{
    border-radius: 10px;
}
@media (max-width: 768px) { /* Chỉ áp dụng cho mobile */
    img{
        width: 100%;
        height: auto;
    }
  }
  @media (min-width: 769px) { 
    img{
        width: 60%;
        height: auto;
    }
  }