{% set services = page.children %}
<section id="services" class="services section light-background">
      <div class="container">
        <div class="row gy-4">
          <h2 class="inner-title"><b>{{ page.header.title }}</b></h2>
          {% for service in services %}
              {{ service.content|raw }}
          {% endfor %}
        </div>
        <hr>
        <h3 style="font-size: 20px; font-family: 'Poppins-light', sans-serif; display: flex; justify-content: center; margin-top: 50px; text-align: center;">
          {{ page.content|raw }}
        </h3>
      </div>
</section><!-- /Services Section -->