<!DOCTYPE html>
<html lang="vi">

<head>
        {% include 'partials/header_vi.html.twig' %}
</head>

<body class="index-page">

      {% include 'partials/navigation_vi.html.twig' %}

  <main class="main">
      {{ page.content|raw }}
      {{ dump(pages) }}

  </main>

  <footer id="footer" class="footer dark-background">
        {% include 'partials/footer_vi.html.twig' %}

  </footer>

</body>

</html>