{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1>{{ page.header.custom_title }}</h1>
    <p>{{ page.header.custom_description }}</p>

    {% if page.header.show_banner %}
        <div class="banner">
            <img src="{{ page.media['banner.jpg'].url }}" alt="Banner">
        </div>
    {% else %}
        <p>Banner không được hiển thị.</p>
    {% endif %}
{% endblock %}