<!DOCTYPE html>
<html lang="vi">

<head>
        {% include 'partials/header_vi.html.twig' %}
</head>

<body class="pricing-page">

      {% include 'partials/navigation_vi.html.twig' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Giá cả</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ page.find('/home').url }}">Trang chủ</a></li>
            <li class="current">Giá cả</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <div class="container">

        <div class="row gy-4">

              <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="pricing-item">
                    <h3 style="font-size: 25px;">Dùng thử</h3>
                    <h4><sup>$</sup>0<span> trong 6 tháng đầu</span></h4>
                    <p>Trên mỗi tài khoản/tháng, thanh toán hàng năm</p>
                    <a href="{{ page.find('/contact').url }}#services" class="cta-btn">Liên hệ ngay</a><br>
                    <h5 style="font-size: 16px; font-weight: 600;">Trải nghiệm trang web của riêng bạn</h5>
            
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Miễn phí tên miền.</span></li>
                        <li><i class="bi bi-check"></i> <span>Hình ảnh, thông tin khách sạn,...</span></li>
                        <li><i class="bi bi-check"></i> <span>Tích hợp với dịch vụ bên thứ ba</span></li>
                        <li><i class="bi bi-x" style="color: red;"></i> <span>Không có đặt phòng trực tuyến</span></li>
                        <li><i class="bi bi-x" style="color: red;"></i> <span>Không có thanh toán trực tuyến qua web</span></li>
                        <li><i class="bi bi-check"></i> <span><b>Một khách sạn</b></span></li>
                    </ul>
                </div>
            </div>
            <!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="pricing-item">
                  <h3 style="font-size: 25px;">Gói Cơ Bản</h3>
                  <h4><sup>$</sup>1.99</h4>
                  <p>Trên mỗi tài khoản/tháng, thanh toán hàng năm</p>
                  <a href="{{ page.find('/contact').url }}#services" class="cta-btn">Liên hệ ngay</a><br>
                  <h5 style="font-size: 16px; font-weight: 600;">Trải nghiệm trang web của riêng bạn</h5>
          
                  <ul>
                      <li><i class="bi bi-check"></i> <span>Miễn phí tên miền.</span></li>
                      <li><i class="bi bi-check"></i> <span>Hình ảnh, thông tin khách sạn,...</span></li>
                      <li><i class="bi bi-check"></i> <span>Tích hợp với dịch vụ bên thứ ba</span></li>
                      <li><i class="bi bi-check"></i> <span>Đặt phòng trực tuyến</span></li>
                      <li><i class="bi bi-check"></i> <span>Thanh toán trực tuyến qua web</span></li>
                      <li><i class="bi bi-check"></i> <span><b>Một khách sạn</b></span></li>
                  </ul>
              </div>
          </div>
          <!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
                <h3 style="font-size: 25px;">Gói Cao Cấp</h3>
                <h4><sup>$</sup>2.99</h4>
                <p>Trên mỗi tài khoản/tháng, thanh toán hàng năm</p>
                <a href="{{ page.find('/contact').url }}#services" class="cta-btn">Liên hệ ngay</a><br>
                <h5 style="font-size: 16px; font-weight: 600;">Trải nghiệm trang web của riêng bạn</h5>
        
                <ul>
                    <li><i class="bi bi-check"></i> <span>Miễn phí tên miền.</span></li>
                    <li><i class="bi bi-check"></i> <span>Hình ảnh, thông tin khách sạn,...</span></li>
                    <li><i class="bi bi-check"></i> <span>Tích hợp với dịch vụ bên thứ ba</span></li>
                    <li><i class="bi bi-check"></i> <span>Đặt phòng trực tuyến</span></li>
                    <li><i class="bi bi-check"></i> <span>Thanh toán trực tuyến qua web</span></li>
                    <li><i class="bi bi-check"></i> <span><b>Hai hoặc nhiều khách sạn</b></span></li>
                </ul>
            </div>
        </div>
        <!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->


  </main>

  <footer id="footer" class="footer dark-background">
         {% include 'partials/footer_vi.html.twig' %}
  </footer>

</body>

</html>