<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header_en.html.twig' %}
</head>

<body class="index-page">

  {# Menu #}
   {% include 'partials/navigation_en.html.twig' %}

  <main class="main">
      {{ page.content|raw }}
  </main>

  <footer id="footer" class="footer dark-background">
           {% include 'partials/footer_en.html.twig' %}
</footer>

</body>

</html>